[2021-08-31 12:22] raphaellueckl commented on #2223
@markus-walther We should discuss this.

[2021-09-01 12:18] marcwelz commented on #2219
What do you mean with "format them like a currency"? When I use an integer above 999'999 and add the "$" symbol, it works perfectly fine (Safari & Chrome).

![image](https://user-images.githubusercontent.com/68916291/131666056-8df6096b-2089-45c4-a240-b7cbf3629e01.png)

[2021-09-10 07:04] marcwelz commented on #2219
Closed due inactivity and I can not reproduce the issue.

Reopen if necessary

[2021-09-10 07:52] francescoRovetto commented on #2219
Hi Marc! you forgot to add the decimal separator. I think that might be the cause of the problem.

Sorry I haven't seen your response. How can I reopen the case?

[2021-09-17 08:58] raphaellueckl opened #2224 "Outdated documentation, remove the names bullet point"
![Screen Shot 2021-09-17 at 10 55 58](https://user-images.githubusercontent.com/8248662/133755248-dac43278-6abe-43bb-b799-6544e1881193.png)

[2021-09-23 07:58] raphaellueckl opened #2225 "[File-Upload] allowedFileTypes doesn't work on windows"
Found for CSV files, but on a first glance, it looks like the filter does not work at all.

HINT: Maybe also check on a non-axa windows laptop, just to be sure.

![Annotation 2021-09-23 094502](https://user-images.githubusercontent.com/8248662/134472691-791880c0-f7a7-4c7e-9ab2-f36d419fc21c.png)

[2021-10-05 13:04] markus-walther commented on #2216
Witness the following screenshot:
![Screen Shot 2021-10-05 at 14 54 51](https://user-images.githubusercontent.com/46926507/136026678-ccc4e7dd-3c01-4847-a505-28fabd2241b2.png)

It shows that always centering the datepicker on mobile is likely not a sensible request. Here we have a datepicker that operates in inputfield mode. In this mode, with datepicker dropped down, users will instinctively align

[2021-10-05 13:11] markus-walther commented on #2223
Since this is easy in native `<input type="file">` https://stackoverflow.com/q/1703228, we should indeed support it, too.

[2021-10-14 07:38] MarekLacoAXA opened #2230 "axa-link reason for onClick's event.preventDefault() ?"
Axa-link is preventing default event on click. This is documented.

As this is counter-intuitive (compared to dom's anchor element), I am missing reason for this behavior.

From my consumer point-of-view, this is a downside, because it forces me  to use both `href` attribute (for usability) and call in onClick handler the history.push() again, so that the navigation even works.  (As I am attaching

[2021-10-14 15:56] raphaellueckl commented on #2230
I think we had this issue already at some point, no?

I don't remember the reason. Maybe it was the consideration of the `external` attribute. But I currently don't see why we should not do that.

Since this is a feature request, I have to discuss it with @markus-walther and he is on vacation for this and next week.

[2021-10-20 09:32] MarekLacoAXA opened #2233 "AXAFieldset/Jest/JSDom: Converting circular structure to JSON"
Hi!

Probably this is a Jest/JSDom issue (or Lit-Element, or React issue), and not a PL issue, as its implementation of AXAFieldset is very minimalistic.

Anyway maybe you can give a hint why this error occurs.

Thanks!

This happens under Jest/JSDom env:

[code]

Versions:

Jest: 27.3.1
JSDom: 16.7.0
axa-fieldset: 4.1.12
lit-element: 2.5.1

Log:
[code]

[2021-10-20 14:28] stefan-kueenzi opened #2234 "Button Link doesn't change height to show long text when styled with a width"
## Expected Behavior
Button Link changes height to show long text when styled with a width

## Current Behavior
Button Link doesn't change height to show long text when styled with a width.

## Steps to Reproduce
Go to https://patterns.axa.ch/?path=/story/components-button-link--button-link
Set a long text for the button
Use Browser DevTools to set width of the Button Link

## Possible Solution
Sh

[2021-10-26 14:13] markus-walther commented on #2107
Actually, https://github.com/axa-ch-webhub-cloud/pattern-library/issues/2107#issuecomment-809261406 points to a simpler alternative than NoShadowDom conversion for these components: undo the hacky IE-11 compatibility work from the past. This has to be researched, and - if it works - is far less invasive, hence preferred as a solution to this bug.

[2021-10-26 16:09] markus-walther commented on #2225
The claimed generality of the bug on Windows is not true: e.g. a PNG image can be dragged onto https://patterns.axa.ch/?path=/story/components-file-upload--file-upload without problems.

As for the specific claim for CSV files:

- https://stackoverflow.com/questions/7076042/what-mime-type-should-i-use-for-csv does mention the recommended MIME type of _text/csv_
- when debugging with an Excel-gener

[2021-10-26 16:12] #2225 closed, assigned to markus-walther

[2021-11-01 13:22] markus-walther commented on #2222
Today's meeting with @asalinifugoch clarified the requirements of this feature request:

- The 'file-id' is the value of the `id` attribute of the browser-native `File` object, which serves as cross reference to the server-side validation
- The desire is to allow asynchronous invalidation of already uploaded files, once server-side validation has declared them invalid

We should either

- provide

[2021-11-01 14:31] francescoRovetto opened #2235 "axa-table-sortable: alternative sort value"
This feature request is a result out of discussions about the bug report: https://github.com/axa-ch-webhub-cloud/pattern-library/issues/2219 - Raphael Lückl agreed on opening an feature request for this issue.

_Wir verwenden die react-intl Library für die Internationalisierung von Beträgen. Unsere Kunden haben den Anspruch, dass das zum Land passende Tausender- Trennzeichen angezeigt wird._

_Der

[2021-11-01 14:33] francescoRovetto commented on #2219
This issue is continued in the following feature request: https://github.com/axa-ch-webhub-cloud/pattern-library/issues/2235

[2021-11-01 14:33] #2219 closed, assigned to nobody

[2021-11-01 16:55] markus-walther commented on #2222
This cannot be achieved using the public, documented API. Here is a patch for an `invalidate(file, clear, globalErrorMessage)` method:
[patch.txt](https://github.com/axa-ch-webhub-cloud/pattern-library/files/7454895/patch.txt)

[2021-11-02 07:00] raphaellueckl commented on #2235
The requirement for this is, that they values are either "raw" and we sort upon.

[code]

Or we allow for custom sorters on each column. Something like this:

[code]

Second idea would probably be a bit more error prone, but it's probably easier to apply for a user that just wants to put the data into the table without first converting everything just to match our sorting structure.

[2021-11-03 07:53] asalinifugoch commented on #2222
Your patch looks good. Thank you @markus-walther

[2021-11-03 09:19] francescoRovetto commented on #2235
Hi Raphael

I understand - both solutions should work for us, I think. :-)

[2021-11-03 10:49] #2223 closed, assigned to markus-walther

[2021-11-03 11:05] branislav-remen opened #2236 "Controlled Input Text won't render updated value"
Controlled Input Text won't render updated value when field already had some focus on it in Safari browser.

## Expected Behavior

In Safari browser, when we set value to controlled input text, value should be visible in the field.

## Current Behavior

When we set value to controlled input text, new value is not visible in the field in Safari browser.

## Steps to Reproduce

https://patterns.axa.

[2021-11-03 17:22] raphaellueckl commented on #2235
[Discussion] We will go with the custom comparator approach. Reason: For a good UX, all sort values can be derived from the display values that the user sees. The separate sort value is therefore redundant, the custom comparator will derive the sort value and compare it internally. We are aware that this restricts the new feature to scenarios where we can set properties using javascript on the com

[2021-11-03 17:24] #2216 closed, assigned to nobody

[2021-11-10 13:58] chiquan-hong opened #2238 "Axa Radio Button is not displayed as selected (checked)"
Hello Patterns-Library Team,

we are using AxaRadioButton in our component, somehow after clicking the radio button, it is not shown as selected (the blue dot in the middle of the radio button is missing).
In the debugger you can see that the property "checked" is "true", even though, the button is not displayed as selected.

![image](https://user-images.githubusercontent.com/57704956/141125688-1f

[2021-11-12 06:38] raphaellueckl commented on #2238
I managed to reproduce this without react.

If you remove the "checked" attribute from a radio button in the dom, it is also not propagated down to the component. I am not sure why it was implemented like this, but that should be fixed on our side. I am just guessing, but I think if that connection works again, the problem of Quan would be gone.

[2021-11-12 07:03] raphaellueckl commented on #2236
Thanks for this detailed issue. I'm not sure when we will be able to fix it as we are very low in number of staff at the moment.

[2021-11-16 13:33] #2222 closed, assigned to nobody

[2021-11-17 15:24] asalinifugoch opened #2239 "Falsche Position der Fehlermeldung und Löschen der Files ergibt einen Fehler"
Please only report technical bugs. Clarify design issues in the slack channel #ux-ui-support.

Vom Server abgewiesene Files müssen im UI als Fehler markiert und vom Benutzer gelöscht werden können. Aktuell wird das falsche File im UI markiert. Und beim Löschen gibt es einen Fehler.

## Expected Behavior

Die Fehlermeldung soll an der richtigen Position / File  angezeigt werden.
Löschen der Fehlerh

[2021-11-18 09:32] francescoRovetto opened #2240 "focus() inside of axa-container doesn't work"
## Expected Behavior
in the lifecycle method componentDidMount(), I want to set the first text field on focus, so that the customer doesn't need the mouse to click on the field.  The text field, which needs to be set on focus, is inside of the axa-container.

## Current Behavior
When setting the text field on focus, nothing happens. Probably the shadow-dom of the axa-container causing this.

## St

[2021-11-18 11:22] salle18 opened #2241 "Dropdown, wrong title when hovering on list elements"
@axa-ch/dropdown v9.1.20

When hovering over dropdown items title shown on child list elements is always the parent title.

<img width="600" alt="Screen Shot 2021-11-18 at 11 03 29" src="https://user-images.githubusercontent.com/8245106/142405854-b7f738e9-a9da-43e7-acd9-ebb41c7d903c.png">

## Expected Behavior
Title shows the actual value of the child element or title is not shown at all.

## Step

[2021-11-22 12:45] raphaellueckl commented on #2240
Hi Francesco

Do you have a site where we can reconstruct this? And can you tell us how you were looking for that element to set the focus? Thanks in advance. :)

[2021-11-23 09:35] francescoRovetto commented on #2240
Hi Raphael, do you have a sandbox, which I can reuse? The only site I can share is our customer frontend Project:

https://github.axa.com/axa-ch-opk/opk-frontend

This is what I'm trying to do - without the axa-container, it would work: (see row 16)

[code]

[2021-11-23 10:17] chiquan-hong opened #2243 "Datepicker not adjusting correctly in some case"
When opening the datepicker on a small screen, the bottom border is not adjusted correctly.

Steps to reproduce:

1. open url https://aem-publisher-1.dev.axa-ch.intraxa/de/test-pods/esales/pod-esales-car.html#/start (open it on a small screen or zoom in till about 150%)
2. navigate till https://aem-publisher-1.dev.axa-ch.intraxa/de/test-pods/esales/pod-esales-car.html#/most-frequent-driver-birthda

[2021-11-23 18:42] markus-walther commented on #2239
Thank you for the bug report!

The delete aspect of this bug has been reproduced and needs to be fixed.

As for the order aspect - faulty files are always at the end in left-to-right, top-to-bottom UI order - this is consistent with internal validation and unlikely to be fixed in this ticket (since it appears to be in line with the UX spec for this component).

[2021-11-24 10:09] asalinifugoch commented on #2239
Thank you for your feedback.

Ok, but how we shoud set the correct faulty file in the ui, if ist not possible to set it by id? Do you have any suggestion?

[2021-11-25 15:51] LucaMele opened #2246 "We need to have a Phone Number selection"
Feature requests posted here should be of a smaller scope. Kind of like a "wishlist".

See requirements here:
https://jira.axa.com/jira/browse/MYAXATA-9483

How it should look at first, then to be finalised with design in Januar
![image](https://user-images.githubusercontent.com/275235/143471313-9211fcc0-bd54-402c-aa3b-099352835283.png)

[2021-11-29 10:48] raphaellueckl commented on #2230
Discussion: We should leave preventDefault as default behavior, but add an attribute to disable this behavior.

[2021-11-29 10:52] raphaellueckl commented on #2243
Team discussion: We need to understand if this is an issue of the datepicker (in the PL it behaves as it should) or if the surrounding page/app-css is causing issues here.

[2021-11-30 13:58] #2239 closed, assigned to nobody

[2021-11-30 14:04] markus-walther commented on #2239
I am not sure I understand. The correct faulty file is identified by the .id value of a File object passed as arg 1 of the invalidate method, as per the README. This works, and is tested in an end-to-end test. Any faulty files are consistently moved to the end of the file-preview UI, *visually*, as per approved UX for this component. This behaviour is desired, and will not be fixed (at least not q

[2021-11-30 16:10] francescoRovetto commented on #2235
Hi Raphael, do you know about a time window for this feature request?

[2021-11-30 16:11] francescoRovetto commented on #2240
Hi Raphael, is my information sufficient?

[2021-12-02 15:48] raphaellueckl commented on #2240
@francescoRovetto @amir-ag will soon write his findings here. :)

[2021-12-03 08:49] amir-ag commented on #2240
Hi @francescoRovetto I couldn't reproduce this issue by running the code snippet below. Not sure, but afaik you access dom elements in react using refs, have you tried that?

[code]

[2021-12-14 15:01] #2141 closed, assigned to nobody

[2021-12-14 15:01] raphaellueckl commented on #2141
Closed in peer review with Amir.

[2021-12-15 09:02] raphaellueckl opened #2249 "NPM run new does not generate import for "usage" und "changelog" in storybook"
The marked parts don't get auto-generated when running `npm run new`. These should be included.

![Screen Shot 2021-12-15 at 10 00 11](https://user-images.githubusercontent.com/8248662/146155677-041811db-4278-4436-863c-cab8f58b2499.png)

Reference commit: c670912bccf49b93903bdd2cac4189701ee90a66

[2021-12-15 12:04] #2241 closed, assigned to raphaellueckl

[2021-12-16 08:41] raphaellueckl opened #2250 "We should allow "change", "focus", "blur" events on all input elements for consistency!"
I wanted an easy way to set focus and blur methods:

![image](https://user-images.githubusercontent.com/8248662/146333177-d14252c2-ebf0-42e2-abff-95c1cbab3611.png)

@focus and @blur did not work, because they are either eaten or not bubbling from `axa-dropdown` and `axa-input-text`, which is a problem in my opinion. Those components allow methods for some of the stuff, but I did not find a way in

[2021-12-23 09:30] francescoRovetto commented on #2240
Hi Amir, thank you for trying.
you use plain JavaScript in your example - can you try to reproduce the error with React, the way I did?

[2022-01-12 10:47] markus-walther opened #2252 "axa-top-content-bar: icons, mobile, closable"
As a result of https://jira.axa.com/jira/browse/WEBHUB-1100, the axa-top-content-bar component needs to be extended with new functionality.

It should allow for icons, be more usable on mobile, and closable.

Four new properties would allow to activate and control the new functionality:

`icon: { type: String },
      stickymobile: { type: Boolean },
      closable: { type: Boolean },
      closed

[2022-01-13 08:06] #2252 closed, assigned to nobody

[2022-01-17 16:04] markus-walther opened #2256 "Dummy bug"
Please only report technical bugs. Clarify design issues in the slack channel #ux-ui-support.

## Expected Behavior

## Current Behavior

## Steps to Reproduce

1.
2.
3.
4.

## Context (Environment)

## Possible Solution

[2022-01-17 16:04] #2256 closed, assigned to nobody

[2022-01-17 16:09] markus-walther opened #2257 "axa-top-content-bar: cosmetic corrections after designer feedback"
According to Ken ., our designer, we need to use correct icons for attention and warning variants.

Also, the font size needs to be corrected.

Implement these changes.

[2022-01-18 13:11] #2257 closed, assigned to nobody

[2022-01-18 13:23] markus-walther commented on #2246
Link to finalized design has become available in AXA's UIKit.

[2022-01-18 13:37] #1258 closed

[2022-01-18 13:38] markus-walther commented on #1856
Because of the difficulties mentioned above, and the moderate payoff, closed for now.

[2022-01-18 13:38] #1856 closed, assigned to nobody

[2022-01-18 13:48] markus-walther commented on #2243
@MartinStuedle failed to reproduce the bug just now - @chiquan-hong is this bug still reproduceable from your side? We also noted that the user journey involved a prior date picker instance, which worked ok, too (this would likely mean it is/was an app-level bug).

[2022-01-24 14:38] chiquan-hong commented on #2243
hi markus, yes this bug is still existing. best way to repproduce it, is to open it on your laptop screen, cause there the content is small enough, so u can see the datepicker is not adjusting correctly, only after opening the month dropdown the second time. Then its adjusting correctly.
Yes you are right, there is a prior datepicker instance on an other screen, which works fine but this is becaus

[2022-01-24 14:41] chiquan-hong commented on #2238
hello patterns library team,
now that raphael is not here anymore, i just want to ask, how is it going with this issue?

thanks and best regards

Quan

[2022-02-01 17:13] markus-walther opened #2259 "Fix flakey end-to-end tests"
Here is a list of currently flakey e2e tests:

- [ ] Icon: should not render svg icon (times out a lot)
- [ ] Icon: Size checks > should render svg icon with correct default size  (times out a lot)

Additional info: these are Playwright tests, and they run on the Azure CI/CD pipeline.

Fix all flakey tests so that pipeline testing becomes reliable again.

There is anecdotal evidence that such flak

[2022-02-01 17:14] markus-walther commented on #2259
A possible approach to see what's going on here is to run the Playwright tests on a headful Chromium instance and with lower speed and/or debug breakpoints.

[2022-02-02 12:12] branislav-remen opened #2260 "Accordeon - missing dependencies"
I spent some time with your Accordeon component (btw. I really believe, that it should be called Accordion in english, not Accordeon 😄  ). I had issue with property `small` which change title size. It didn't work in myaxa project, but it worked in your storybook. We didn't use `@axa-ch/text` in myaxa project and that was the issue. I think you should mention in readme that this package is required

[2022-02-09 09:35] Ben-Zahler commented on #2243
@chiquan-hong the reason why this happens is the overflow:hidden property on
.podesalesmf .mf_content_root
I think this has to be fixed from your side, I see two options:
- remove the overflow:hidden css ruls, thats what I see on https://www.axa.ch/de/rechner/haushaltversicherung.html#/geburtstag
- ensure that your .podesalesmf element always has enough height so the dat picker does not overlap wi

[2022-02-10 12:04] chiquan-hong commented on #2243
@Ben-Zahler thanks for your analysis. i will have a look at it and will let you know, if we could solve it in this way.
Thanks for your help.

[2022-02-14 11:27] bozojovicic commented on #2238
Radio component from Patterns Library works properly with normal use. If I understand Raphael correctly, he manually removed the "checked" attribute in DOM and the component were not unchecked. Honestly, I don't see why it would be unchecked. The problem reported here is actually not reported for the Radio component in Patterns Library. It is reported for some component from '@axa-ch/esales-ui-com

[2022-02-14 12:11] branislav-remen opened #2261 "Accordeon - Add on state change handler function"
We (MyAXA) started to use your `Accordeon` component instead of our custom one.
We "do something" very often, when user opens Accordeon. (write logs, ...)

**Feature request**
- add `onStateChange` prop with Type like `(isOpen: boolean) => void`
- handler function has access to the new state of Accordeon (State says if it's opened or closed. I recommend `isOpen: boolean`)
- `onStateChange` functio

[2022-02-14 14:58] bozojovicic commented on #2238
I analysed the Radio component from Pattern Library in details. The attribute "checked" is used in "axa-radio" component to specify the initial state. However, just like with native input[type=radio], we can use the same attribute to change the state of the component with JavaScript. We can uncheck the radio component in two ways and I tried them both on axa-radio component
document.getElementById

[2022-02-17 14:19] chiquan-hong commented on #2238
hi bozo,

we have created an component in our esales-ui-components library which uses the radio-button of patterns library.
we have created an example for you guys to reproduce it (see link below).
http://localhost:9009/?path=/story/esales-premium-radio-item--for-analyzing-bug

if u need access to our esales-ui-components library, i can give u access to it. Could u give me your github username?

t

[2022-02-17 14:51] bozojovicic commented on #2238
Hi @chiquan-hong
Yes, if I could get the access that would be great. My github username is bozojovicic

[2022-02-17 16:39] chiquan-hong commented on #2238
Hi Bozo,

now u should have access to our esales-ui-components library 😊

best regards

Quan

Von: Bozo Jovicic ***@***.***>
Gesendet: Donnerstag, 17. Februar 2022 15:52
An: axa-ch-webhub-cloud/pattern-library ***@***.***>
Cc: HONG Chi Quan ***@***.***>; Mention ***@***.***>
Betreff: [EXTERNAL] Re: [axa-ch-webhub-cloud/pattern-library] Axa Radio Button is not displayed as selected (checked) (Issue

[2022-02-18 12:39] bozojovicic commented on #2238
[chiquan-hong](https://github.com/chiquan-hong) I found the issue in esales-ui-components code but I don't have write access to this repo. Forking is also disabled so I guess you will have to give me the write access to push the fix for this.
Thank you!

[2022-02-21 08:15] chiquan-hong commented on #2238
ok cool, that you found the problem.
I gave you write access now, so u can fix it.

Von: Bozo Jovicic ***@***.***>
Gesendet: Freitag, 18. Februar 2022 13:40
An: axa-ch-webhub-cloud/pattern-library ***@***.***>
Cc: HONG Chi Quan ***@***.***>; Mention ***@***.***>
Betreff: [EXTERNAL] Re: [axa-ch-webhub-cloud/pattern-library] Axa Radio Button is not displayed as selected (checked) (Issue #2238)

chiq

[2022-02-21 10:17] bozojovicic commented on #2238
@chiquan-hong I created the PR https://github.com/axa-ch-webhub-cloud/esales-ui-components/pull/502
It's a small fix.

[2022-02-21 10:39] selinagahlinger commented on #2235
Jira Ticket erstellt, wird nicht mehr im PI#27 umgesetzt. Wird voraussichtlich für PI#28 eingeplant: https://jira.axa.com/jira/browse/WEBHUB-1291

[2022-02-21 10:39] amir-ag commented on #2240
Hi Francesco, tested it like you see below and it works fine. Have you create a React element as stated here (and used in my snippted below): https://patterns.axa.ch/?path=/story/components-container--container under 'usage'? Can't see it on the snippet above.

[code]

[2022-02-25 08:37] chiquan-hong commented on #2243
@Ben-Zahler thanks for your advise, it worked fine :) i will close this issue.

[2022-02-25 08:37] #2243 closed, assigned to nobody

[2022-02-25 08:38] chiquan-hong commented on #2238
@bozojovicic i merged it to our master and works :) thank you very much for your help.
i will close this issue.

[2022-02-25 08:38] #2238 closed, assigned to nobody

[2022-02-25 11:29] francescoRovetto commented on #2240
Hi Amir,

thank you for your response!

I call the element in componentDidMount in a class component. The field, which I try to focus on, is also in a class component and this class component is in the axa container.

I also create a React element, it's created in a separate file and then used in there.

Could it be, that nested class components are the issue?

[2022-03-01 07:42] amir-ag commented on #2240
HI Francesco, I have no idea why it doesn't work in your app, it could be a timing issue if there are components in between. I'd debug using a timeout just to make sure it's not a timing issue.

[2022-03-01 12:52] MarekLacoAXA opened #2263 "Input text - readonly"
This is a wish to implement `readonly` attribute in the `input-text` component.

https://github.com/axa-ch-webhub-cloud/pattern-library/tree/develop/src/components/10-atoms/input-text
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-readonly

Thanks!!!

EDIT: there was such thing, added three years ago 👀
https://github.com/axa-ch-webhub-cloud/pattern-library/pull/808/files

[2022-03-03 07:43] MarekLacoAXA opened #2264 "Textarea - readonly"
This is a wish to implement `readonly` attribute in the `textarea` component.

https://github.com/axa-ch-webhub-cloud/pattern-library/tree/develop/src/components/10-atoms/textarea
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea#attr-readonly

Thanks!!!

Related Feature request: [Input text - readonly](https://github.com/axa-ch-webhub-cloud/pattern-library/issues/2263)

[2022-03-04 09:09] #2240 closed, assigned to nobody

[2022-03-15 15:24] MarekLacoAXA opened #2265 "Radio disabled implies checked"
**IS:**
`<Radio disabled={true} checked={false} />` renders a disabled checked radio button

**SHOULD**
`<Radio disabled={true} checked={false} />` should render a disabled *unchecked* radio button

**Demo**
https://patterns.axa.ch/?path=/story/components-radio--radio

![image](https://user-images.githubusercontent.com/43809369/158411912-a34d6094-6840-4a32-98f1-c8f1ac896719.png)

Maybe related to

[2022-03-21 13:18] MarekLacoAXA opened #2266 "Green colored Button"
Feature request to allow green-color-variant Button.
(there is an approved status color $color-malachite = #1CC54E)

Since axa-button uses ShadowDOM, it is needed to extend the component.

Thanks @markus-walther !

![image](https://user-images.githubusercontent.com/43809369/159268801-f754147d-a279-43d9-9d6f-840892c434de.png)

[2022-03-25 13:46] gabriele-giambonini opened #2267 "How to test with React"
Please only report technical bugs. Clarify design issues in the slack channel #ux-ui-support.

As long as an AXA Pattern Library component is involved in a React test, it will fail.

## Expected Behavior
Writing tests for component should be possible.

## Current Behavior
An error message like
[code]

## Steps to Reproduce

1. Create a react application with `npx create-react-app myapp`
2. Import

[2022-03-29 08:42] #2207 closed, assigned to 01231

[2022-04-04 09:23] #2246 closed, assigned to raphaellueckl

[2022-04-05 07:23] markus-walther opened #2268 "Webpack may not find directives submodules in new lit-based components"
AXA Advice Team reports:

We are trying out pattern library comonents a little. With AXAButton v.7.0.0 one encounters the following error:
 ERROR in [./node_modules/@axa-ch/button/lib/index.react.js](mailto:./node_modules/@axa-ch/button/lib/index.react.js) 3:0-52
Module not found: Error: Package path ./directives/class-map is not exported from package C:\eplatform\git-repos\duty-planner-fe\node_mo

[2022-04-05 07:34] markus-walther commented on #2268
At Robert Kiemele from AXA advice: please post /src/components/thirdparty/AxaButton.js content here, and possibly also your Webpack config.

Note that Storybook, used for demonstrating the Pattern Library, also uses Webpack, and that our React-based tests of axa-button 7.00 all passed.

[2022-04-06 05:55] rokie-web commented on #2268
[code]

We used the default Webpack config which comes with react 17.0.2 when using create-react-app

[2022-04-06 07:26] markus-walther opened #2269 "Some overview pages of patterns.axa.ch are broken after latest lit update"
https://patterns.axa.ch/?path=/story/brand-elements-icons-and-images--icons-and-images and
https://patterns.axa.ch/?path=/story/pages-axa--axa

display 'Error: invalid template strings array' and do not render.

Investigate the cause and fix this.

[2022-04-06 07:28] markus-walther commented on #2269
After fixing, consider whether this is worth including in an e2e test, depending on what the cause was.

[2022-04-06 09:29] domirs opened #2270 "Dropdown usage with limited space"
In our MF calculator we use the dropdown component in a 3 column layout. On mobile devices, the space is very limited and the text (e.g. "CHF 10'000") gets cut off.

![Dropdowns with limited space](https://user-images.githubusercontent.com/5699880/161943889-a32b1205-2374-4fbe-b58f-1aa9f41ecfda.png)

It would be nice, if there is a switch for limited space which will then reduce the padding or font

[2022-04-07 09:58] #2269 closed, assigned to markus-walther

[2022-04-26 08:49] MarekLacoAXA commented on #2267
@gabriele-giambonini I don't think this is a PL issue.
I think your App.js is maybe missing an `export` statement.
And your testing library may not support yet ES6 modules.

[2022-04-26 08:57] MarekLacoAXA opened #2274 "input phone / react: when no defaultValue: Cannot read properties of undefined (reading 'split')"
ONLY if *defaultValue* IS NOT specified, then Errors on JS console appear when typing into text field, in case dropdown was not touched before.

version: 1.0.0

[code]

[code]

![image](https://user-images.githubusercontent.com/43809369/165262405-01e463ca-efd7-4743-8171-34d7f8bf9049.png)

[2022-04-26 09:13] MarekLacoAXA opened #2275 "input phone / react: country code not recognized"
EXPECTED: country code prefix (+41 Deutschland) of value (maybe defaultValue too?) gets recognized and displayed in dropdown.

ACTUAL: dropdown stays Schweiz in all cases; Textfied contains +49 prefix on most cases, see screenshot.

**Code:** (spaces / no spaces):
[code]

**Screen:**

![image](https://user-images.githubusercontent.com/43809369/165280314-5b0e6143-0b2a-4d15-921c-75b5d8e729ba.png)

[2022-04-26 09:39] MarekLacoAXA opened #2276 "input phone / react: country code +NaN"
**Code:**
[code]

**Interaction:**
- focus dropdown
- select Deutschland (was set already)
- focus text field
- try edit (backspace)
- +NaN reported onChange

**Screen:**

![image](https://user-images.githubusercontent.com/43809369/165270700-e728b0ac-e59e-4d0a-b908-6226a57a7687.png)

[2022-04-26 10:36] MarekLacoAXA commented on #2276
Closing, as the space separator is required according to the actual docu.

[2022-04-26 10:36] #2276 closed, assigned to nobody

[2022-04-26 10:42] MarekLacoAXA opened #2277 "input phone: do not require space separator between country code and local phone number"
Feature request to allow omitting space separator between country code and local phone number.

We need a drop-in replacement for input-text where the input is a whole phone number as-is

We don't want to parse the existing phone numbers to find country codes and artificaly inject spaces after country code in order to be it processable by input-phone component.

Thanks!

[2022-04-27 09:41] BeatHeierli opened #2278 "axa-file-upload: allow uploading .msg files"
We have the [file-upload](https://github.com/axa-ch-webhub-cloud/pattern-library/tree/develop/src/components/20-molecules/file-upload) component in use and want to enable external users/customers to upload emails (.msg)  to us, for example. But no matter whether I leave "allowedFileTypes" empty or enter "application/vnd.ms-outlook", for example, it does not work. Can the component be extended acco

[2022-05-02 05:56] branislav-remen opened #2279 "Accordeon - wrong content height when changing viewports"
When you open Accordeon and then change size of window, then some content is missing because height of content didn't change. Also height is calculated too soon - our styles are probably not considered because it will cut out some content. (see screenshots in slack channel or let me know and I'll show you. I can't add them here from security reasons)

## Expected Behavior

Content should be still

[2022-05-10 08:51] branislav-remen commented on #2279
### Possible solution:
As I mentioned above, you can probably add event listnener to fix half of the issues mentioned above. I am not familiar with `lit` but if you add this snippet to `/accordeon/index.js`, then it should work.

[code]

[2022-05-12 07:20] domirs commented on #2270
@markus-walther do you have any news on this topic?

[2022-05-16 08:49] markus-walther commented on #2277
@MarekLacoAXA It seems **impossible** in general to omit a separator (of any kind, space being just one possible choice) between country-code part and local-phone-number part of a telephone-number _string_.

This is because country codes are **not unambiguous** world-wide.

For example, the country code of Switzerland (+41) is a proper prefix of the country code of Liechtenstein (+417), and it wou

[2022-05-16 09:07] markus-walther commented on #2275
This is a consequence of violating https://github.com/axa-ch-webhub-cloud/pattern-library/tree/develop/src/components/20-molecules/input-phone#value requirements, i.e. no space between country code and local phone number. As such this is not a bug, since the behaviour is deliberate and documented.

Also see https://github.com/axa-ch-webhub-cloud/pattern-library/issues/2277#issuecomment-1127401857

[2022-05-20 11:16] MarekLacoAXA commented on #2277
Here is a lib and its phone numbers namespace knowledge:
https://github.com/catamphetamine/libphonenumber-js/blob/master/PhoneNumberMetadata.xml

[2022-05-20 11:27] MarekLacoAXA commented on #2275
SORRY, there is is typo in my OP!
Is: "country code prefix (+41 Deutschland)"
Should be: "country code prefix (+49 Deutschland)"

Question remains: why does the dropdown show "Schweiz (+41)" when "+49 " prefix is supplied in `value`? Screnshot

<img width="575" alt="image" src="https://user-images.githubusercontent.com/43809369/169517901-e19766a2-9d72-46fa-879c-7c9113ddd9ac.png">

[2022-05-30 09:49] markus-walther commented on #2277
The original ticket description is ambiguous and imprecise. Here is a spec proposal:

1. Add new property **longestMatchParse** (default: false).
2. When longestMatchParse is truthy, augment the component's behaviour to parse a user-entered cleaned composite phone number of format +ddd...d (d a digit) using a longest-match strategy into an initial country code taken from https://countrycode.org/ a

[2022-05-30 09:59] markus-walther commented on #2277
@MarekLacoAXA Is the aforementioned spec good for you?

[2022-05-30 12:08] MarekLacoAXA commented on #2277
Hi @markus-walther !

Quick&short answers for now:

As a consumer of phone-number-input:
- I need to have "drop-in" / "plug-and-play" replacement for text-input:
- this means ONE INPUT => ONE OUTPUT and no surprises when ANY value passed (invalid input => invalid output, no MANGLING of input on focus/blur: output stays the same as input unless user did a change by intention)
- without having the a

[2022-05-30 16:45] markus-walther commented on #2274
Cannot reproduce.

https://codesandbox.io/s/elastic-poincare-7utxq8?file=/src/App.js works correctly in my reproduction attempts.

![Screen Shot 2022-05-30 at 18 43 53](https://user-images.githubusercontent.com/46926507/171033730-ccbcc772-01f7-4b33-8c4d-58941d0cef33.png)

@MarekLacoAXA If you want to show the bug exists, please modify the above codesandbox instance to show your alleged bug in isol

[2022-05-30 17:32] markus-walther commented on #2275
OK, I could reproduce it. Likely fix will be for the defaultValue case.

[2022-05-30 17:33] markus-walther commented on #2275
![Screen Shot 2022-05-30 at 19 33 15](https://user-images.githubusercontent.com/46926507/171038994-b06afb33-f3aa-4cd7-9e21-d63cdf0a3235.png)

[2022-05-30 18:42] MKaHead opened #2284 "Rewrite flaky tests in playwright"
There are three testcafe tests that are flaky and therefore a show blocker. These are to be rewritten in playwright

The whole fixture `Dropdown named` and `Text - React, versioned`
Dropdown
- Dropdown named
Text
- Text React, versioned
Input-text
- should cut text when autocomplete sets value over maxLength
Link escape html link
- should display correctly
File Upload
 - should exceed maximum numb

[2022-05-31 06:47] domirs opened #2285 "axa-input-text should provide onKeyDown listener"
It would be nice if we can add a onKeyDown event listener to the AXA Input Text component, to be able to detect which key the user is pressing.

Regards,
Dominik

[2022-05-31 09:47] MarekLacoAXA commented on #2274
Hi @markus-walther !

Thanks for creating code sandbox!

This problem only appears when importing datepicker prior to input-phone 👀

Reproduced here:
https://codesandbox.io/s/recursing-elgamal-z92ot6?file=/src/App.js

[2022-05-31 10:37] markus-walther commented on #2275
@MarekLacoAXA I intend to fix this bug by processing defaultValue _once_  after the initial render, handling composite numbers there as well.

Note that the UI encourages a separate selection of country-code and phone number, that's almost the whole point of why we have that component in the first place. Composite numbers were added for user-pasting of existing numbers, e.g. from other web documen

[2022-05-31 13:14] MarekLacoAXA commented on #2275
Hi @markus-walther !
I think this issue might be related to the Datepicker, same as in the other issue here: https://github.com/axa-ch-webhub-cloud/pattern-library/issues/2274

When datepicker is in place, then the dropdown shows "S..." (see my screenshots).
Without datepicker included, the dropdown shows "+49" (see your screenshots).

[2022-05-31 16:00] markus-walther opened #2288 "axa-text implementation violates lit contract"
The current axa-text implementation has no `render()` method, but manipulates DOM.

The new lit version we use is more strict in demanding that lit controls the DOM, and may issue error messages in certain usage scenarios, as has been observed for this component. Axa-text _is_ used embedded in other lit-based PL components, therefore the problem is already observable within our own collection of c

[2022-05-31 16:13] markus-walther commented on #2278
@BeatHeierli I have taken the liberty to rewrite your title, preserving your intentions (I hope). Thanks for using our component and submitting your feature request!

The Requirements section of the Readme lists both the restriction to a few well-chosen types and the conversion from PNG to JPG as intentional, stemming from the original stakeholders' and designers/UXers' decisions. However, that wa

[2022-05-31 16:17] markus-walther commented on #2270
@domirs Not yet. However, @MKaHead supports us in maintaining the Pattern Library, so there's a good chance this will be adressed in the near future.

[2022-06-01 06:30] MarekLacoAXA commented on #2275
I think that processing "each time" when "defaultValue" changes, would be better (more natural) then processing only "once".
While processing "once" is probably mostly sufficient, still it could lead to surprises when a consumer decides to change defaultValue over time and would wonder why there is no reaction from the component.

I would like to let users edit existing numbers using this componen

[2022-06-01 07:25] MarekLacoAXA commented on #2277
I am not a fond of this. Would prefer to process numbers automatically instead.

"user-entered" -- to you mean here paste into field by end-user, or providing value attribute by consumer sw, or both?

If the longest-match strategy is sufficient: I can't judge, but I think it is a good start.
It would be great to have a set of unit tests containing a couple of dozens of European numbers: testing if

[2022-06-01 10:05] markus-walther commented on #2277
APIs are a contract. PL APIs should be backwards-compatible. Hence a new property, so old behaviour is not gone for users that have built on it already.

User = end user. In ticket https://github.com/axa-ch-webhub-cloud/pattern-library/issues/2275 the other case is discussed.

This is entirely the job of the application, in this case you, to research data entry patterns occurring in the wild and p

[2022-06-02 13:17] christoph-schlumpf opened #2290 "axa-accordeon: wrong hight in certain cases because width changes when opened."
Wrong hight of accordion in certain cases because width changes when opened. Therefore some content is sometimes not visible.

![image](https://user-images.githubusercontent.com/7869150/171636538-6063adcc-f54c-4ae7-b197-b0f903b5c57c.png)

## Expected Behavior
Hight of accordeon-content slot must match content hight.

## Current Behavior
When the accordeon is opened, the margin of the contents chan

[2022-06-03 07:45] branislav-remen commented on #2279
Something to read: https://dev.to/vadimfilimonov/accordion-in-vanilla-javascript-2a85

[2022-06-15 08:41] markus-walther opened #2292 "axa-modal: allow suppression of header and padding"
@bozojovicic would like like to allow suppression of header and padding, resulting in styling like in this example screenshot:

<img width="941" alt="Screenshot 2022-05-24 at 10 24 14" src="https://user-images.githubusercontent.com/37440641/170024848-045bac8b-77f4-4970-8e53-80a324a8982d.png">

A new property `noheader` is proposed to that effect.

Implement this feature.

[2022-06-15 08:44] #2292 closed, assigned to nobody

[2022-06-20 09:20] bozojovicic opened #2293 "Modal - inverted desktop and mobile close icons for noheader size option"
Please only report technical bugs. Clarify design issues in the slack channel #ux-ui-support.

## Expected Behavior

White close icon should be displayed on mobile screen while the standard blue icon should be displayed on desktop screen.
The white close icon is needed on mobile screen because of the possible dark background images.

<img width="445" alt="Screenshot 2022-06-20 at 11 19 07" src="ht

[2022-06-21 12:54] MKaHead opened #2295 "React 18 TS add children type to cps that need them"
In React 18 you have to type the children property, if components need them.

## Expected Behavior
Children type should be present, if the react components need it.

## Current Behavior
For example:
 TS2322: Type '{ children: Element[]; variant: "light"; imageSource: string; }' is not assignable to type 'IntrinsicAttributes & AXACommercialHeroBannerProps'.
  Property 'children' does not exist on t

[2022-06-22 16:19] MKaHead opened #2299 "Under React 18 input-phone (controlled) does not render on first onchange"
The test in input-phone "should demonstrate React controlled mode" does not work under react 18 and must therefore be investigated. A rendering of the text input only takes place after 2 inputs.

## Expected Behavior
Test should work

[2022-06-24 11:38] #2295 closed, assigned to MKaHead

[2022-06-27 12:07] MKaHead commented on #2290
Hi @christoph-schlumpf,
sorry for the late reply, there are several issues regarding accordion. I finally have time to take care of them.

[2022-06-27 12:08] MKaHead commented on #2293
fixed in #2301

[2022-06-27 12:08] #2293 closed, assigned to nobody

[2022-06-28 11:41] MKaHead commented on #2270
@domirs I think it's primarily a UX question: is the dropdown of the type and shape the right element at all? My first thoughts immediately the design is really bad for mobile.

If designers come around the corner with nothing better, feel free to reopen issue.

[2022-06-28 11:48] MKaHead commented on #2268
Hello @rokie-web
Problem if the components use different lit major versions. It is best to simply use the latest versions.

If the problem persists, please reopen the issue.

[2022-06-28 11:48] #2268 closed, assigned to nobody

[2022-06-28 11:51] domirs commented on #2270
@MKaHead This was also our first impression and we discussed it with our UX specialist, but they didn't find a better solution.

Please reopen the issue. Thx

[2022-06-29 15:14] MKaHead commented on #2270
Sorry, I could have immediately offered suggestions, examples and of course my support:
- First of all, it is not difficult for us to adjust the dropdown. However, it does not make dropdown more readable and usable for the end user.

Three columns on mobile is just too much:
- One possibility would be to show one and a half packages and put them in a carousel with slide dots. This way the user on

[2022-07-01 10:17] #2267 closed, assigned to nobody

[2022-07-01 10:28] MKaHead commented on #2267
@gabriele-giambonini The text can currently be found in the readme. I will also post documentation on Storybook in the near future. [here](https://github.com/axa-ch-webhub-cloud/pattern-library#how-do-my-get-my-unit-tests-to-work-when-using-pattern-library-components)

[2022-07-04 08:47] #2260 closed, assigned to nobody

[2022-07-04 08:47] #2279 closed, assigned to nobody

[2022-07-04 11:21] MKaHead commented on #2270
We have only fixed text-overflow from our side. Now the text is not cut off abruptly, see here
![Bildschirmfoto 2022-07-01 um 11 28 47](https://user-images.githubusercontent.com/11683864/177144610-8dcce393-4fc0-4fb3-b6e0-c6d94ee56427.png)
`@axa-ch/dropdown@11.0.1`

[2022-07-04 14:36] christoph-schlumpf commented on #2290
Hi @MKaHead ,

Unfortunately this issue is not solved.

The issue is that you add an additional margin of 4px in 'm-accordion__content--open'. Either remove it here or add it to the closed accordion too. I think this is an easy fix. Can you please Re-Open this issue?

![image](https://user-images.githubusercontent.com/7869150/177175455-71cc320f-55cc-44a5-b89a-30038c3257fe.png)

[2022-07-04 14:51] MKaHead commented on #2290
There are a few more hacks there. We will take care of it. @christoph-schlumpf

[2022-07-05 14:44] #2290 closed, assigned to MKaHead

[2022-07-05 14:58] MKaHead commented on #2290
@christoph-schlumpf I removed the 4px, but the accordion need really a rework.

@axa-ch/accordion => 1.0.2

[2022-07-11 09:35] christoph-schlumpf opened #2312 "Accordion: Automatically resize the Accordion if the content changes."
In SPAs (Single Page Application). The content of the 'Accordion' might dynamically change based on user input or async data fetching.

At the moment 'Accordion' does not dynamically resize if the content changes. So if the height of the content increases the 'Accordion' does not show all the content.

Possible use-cases:
- async loading / rendering of data after the Accordion is opended
- content

[2022-07-25 09:00] markus-walther commented on #2278
@BeatHeierli This is going to be reviewed by security people, the tightening to a few well-chosen MIME type was deliberate. I will update this ticket once a decision has been obtained.

[2022-07-25 09:19] markus-walther commented on #2249
This will be looked at in the wider context of How-To-Start-A-New-Component, including documentation. Therefore, we close this narrow ticket here (also, since @MKaHead changed the infrastructure in the meantime that is mentioned here).

[2022-07-25 09:19] #2249 closed, assigned to nobody

[2022-07-25 09:29] markus-walther commented on #2234
![Screen Shot 2022-07-25 at 11 25 26](https://user-images.githubusercontent.com/46926507/180744448-0011436e-a3ce-4e41-8c84-b4e82faa3ea2.png)
I did exercise the steps you listed and could **not** reproduce the issue (see screenshot above).

[2022-07-25 09:34] stefan-kueenzi commented on #2234
2 Lines of text fit within the 40px of the default height. Maybe try with a text that would need more than 2 lines to display?

[2022-07-25 09:39] markus-walther commented on #2234
Yes, further testing reveals the problem occurs with long-enough text. Will discuss with the team. It would have been good to be precise with what text has been tested and show the level of detail that I showed with my screenshot.

[2022-07-25 11:54] #2270 closed, assigned to nobody

[2022-07-25 12:56] #2234 closed, assigned to markus-walther

[2022-07-26 13:51] MKaHead commented on #2235
@francescoRovetto I am back and have time to implement this feature request. It will rather be option 3 mixture of both proposals.

It works via a sort key, which determines on which data is sorted. It looks after your example quite simply like this:
[code]
Maybe in the future we will rewrite the whole API of the table sortable to simplify the component completely.

[2022-07-26 15:17] #2224 closed, assigned to nobody

[2022-07-27 10:56] MKaHead commented on #2233
If the problem is urgent, we offer support. However, we have decided not to change anything in the production code.

[2022-07-27 10:56] #2233 closed, assigned to nobody

[2022-07-27 15:24] MKaHead commented on #2154
Already implemented.

[2022-07-27 15:24] #2154 closed, assigned to MKaHead

[2022-07-27 15:27] MKaHead commented on #2259
Moved to #2284

[2022-07-27 15:27] #2259 closed, assigned to MKaHead

[2022-07-28 09:44] #2107 closed, assigned to MKaHead

[2022-07-29 09:56] #2261 closed, assigned to MKaHead

[2022-07-29 09:56] #2235 closed, assigned to MKaHead

[2022-07-29 09:56] #2263 closed, assigned to MKaHead

[2022-07-29 09:56] #2264 closed, assigned to MKaHead

[2022-08-03 08:48] MKaHead commented on #2312
Hi @christoph-schlumpf
I will rewrite the whole accordion. That will probably happen in the middle of August.

Litte bit inside:
I will also remove fix from me with the resize. I will do the animation with javascript but after the animation is over set height to `auto` again then we don't need observer listeners etc. Furthermore, the accordion doesn't have good HTML semantics and more DOM manipula

[2022-08-09 14:40] MKaHead opened #2324 "Modal close button is visible if `forced` and `noheader` is set"
## Expected Behavior
There should be no close button, if `noheader` and `forced` is true

[2022-08-15 15:54] baumkaenguru opened #2328 "axa-file-upload: fix logic to determine if uploaded file was an image"
File-upload molecule cannot handle (non image/* and non application/*) files properly. e.g. text/csv

## Expected Behavior
If I upload a file which is not an image and doesn't contain 'application' in its MIME-Type e.g. "text/csv", I'd like to see the usual paperclip icon in the list of added files. Also, I'd expect the readme to match the change logs description that all filetypes are now allowed

[2022-08-18 15:10] MKaHead commented on #2328
Hi @baumkaenguru, thanks for creating the issue. I'm a little surprised that all file types would be allowed. As I remembered that it should not be possible for security reasons. However, that also depends on the context of where your app is running, I'll look into that. Otherwise nothing in the way to fix it.

[2022-08-18 20:04] baumkaenguru commented on #2328
Hi @MKaHead: Thats at least what it said in the changelog for version 5.1.0:

Allow all file types
- Added an allowedFileTypes attribute.
- Now, every file type can be uploaded.

[2022-08-24 09:48] markus-walther commented on #2236
**New test URL for reproduction:** https://patterns.axa.ch/?path=/story/examples-input-text-react--input-text-controlled-uncontrolled

[2022-08-24 09:50] markus-walther commented on #2236
Accepted, since I could reproduce it on MacOS Monterey 12.5.1  Safari Version 15.6.1 (17613.3.9.1.16).

[2022-08-29 13:39] MKaHead opened #2330 "Add Button link functionality in Button"
- Add Button link functionality in Button and deprecate the button link.
- Rewrite testcafe to playwright tests

[2022-08-31 09:06] #2324 closed, assigned to MKaHead

[2022-08-31 11:38] #2285 closed, assigned to nobody

[2022-08-31 12:08] #2330 closed, assigned to MKaHead

[2022-08-31 14:42] MKaHead commented on #2266
@MarekLacoAXA The design team sees no use in making this variant generally accessible. It simply comes to the fact that the button is a mandatory element and there is hardly any room for manoeuvre. Therefore, I am closing the feature request.

[2022-08-31 14:42] #2266 closed, assigned to MKaHead

[2022-09-01 15:05] christoph-schlumpf commented on #2312
Hi @MKaHead,

Is this already on the patterns lib homepage? At least the version there seems not to correctly adjust to changing content or changing size. https://patterns.axa.ch/?path=/story/components-accordion--accordion

[2022-09-01 15:12] christoph-schlumpf commented on #2312
@MKaHead,

I just saw that the accordion version on the pattern library homepage is still 1.1.0 while your new version is 1.2.0. Can you please provide it so that I can check the new version online?

Best regards,
Christoph

[2022-09-02 08:33] MKaHead commented on #2312
@christoph-schlumpf  Only received aproval for the release branch late yesterday. They were released on npm, but you only see it later in the repo due to the late merge. Should be up to date now and thanks for your patience and indulgence.

[2022-09-06 10:42] MKaHead opened #2336 "Simplify axa heading api"
There is only one other font family in the AXA world and no more are likely to be added. Therefore a simplification variant="secondary" to `secondary` boolean would make sense.

[2022-09-07 13:21] MKaHead commented on #2278
Actually upload .msg same problem as in #2328 will be fixed

Only open for discussion would be transformation of png to jpg.

[2022-09-07 13:55] MKaHead commented on #2230
@MarekLacoAXA I agree with you.
The User should also just know that he has to use the `ev.preventDefault();` himself if he does not use link natively.

I will remove prevent default and also window open.

It will be breaking change and new major version.

[2022-09-09 13:00] #2328 closed, assigned to MKaHead

[2022-09-09 14:29] MKaHead opened #2341 "Callback Event prop types are not React SyntheticEvents"
Callback Event prop types are not React SyntheticEvents.
Therefore, the events that are really sent should be declared as types.

- AXAToggleSwitchChange: should be no event
- AXADropdownChangeEvent: should be no event
- AXAFileUpload onChange: should not have content like a event
- AXATableSortabale onClick: should not have content like a event

[2022-09-09 14:39] #2265 closed, assigned to MKaHead

[2022-09-09 14:43] baumkaenguru commented on #2328
awesome, thank you!

[2022-09-09 14:47] MKaHead commented on #2328
@baumkaenguru release will come on Monday 12. September. I should close next time after release.

[2022-09-12 08:32] markus-walther commented on #2230
I approve of the decision of @MKaHead - it makes a lot of sense and simplifies the component.

[2022-09-12 10:34] #2336 closed, assigned to MKaHead

[2022-09-12 10:34] #2230 closed, assigned to MKaHead, markus-walther

[2022-09-12 10:34] #2278 closed, assigned to MKaHead

[2022-09-12 16:50] MKaHead opened #2343 "Fix and add missing Event Types"
Many components have wrong Event types, or missing types. Many have React SyntheticEvents, but we are sending native events. We also should type always as event param: `event` and not `e`,`ev` for uniformity.

[2022-09-12 17:00] MKaHead commented on #2250
There is no need at the moment. Therefore, we are closing the issue. I note that this may change.

[2022-09-12 17:00] #2250 closed, assigned to nobody

[2022-09-13 12:55] MKaHead commented on #2236
There was a Safari hack that caused this problem. To me it made no sense at all code-wise. Besides, everything runs fine in Safari, maybe there was a problem on a mobile Safari. The comment was about the cursor. As long as it's just an exceptional problem, we can live with it.

[2022-09-14 07:43] #2343 closed, assigned to MKaHead

[2022-09-14 07:43] #2236 closed, assigned to MKaHead

[2022-09-15 15:16] christoph-schlumpf commented on #2312
Hi @MKaHead , I just tested "@axa-ch/accordion": "1.2.2" inside our app and it unfortunately still does not adjust to changing content.

Do you intend to fix this?

Best regards,
Christoph

[2022-09-15 15:40] christoph-schlumpf commented on #2312
By the way: In patterns-library there is still the old version of accordion shown (1.1.0).
https://patterns.axa.ch/?path=/story/components-accordion--accordion

[2022-09-15 18:32] MKaHead commented on #2312
Hi @christoph-schlumpf, as a finding the issue was coming in and my test didn't cover it.
And we have new URL:
https://axa-ch-webhub-cloud.github.io/plib-feature/develop

[2022-09-20 07:30] #2312 closed, assigned to MKaHead

[2022-09-20 13:56] #2341 closed, assigned to MKaHead

[2022-10-04 09:20] MKaHead opened #2354 "Button configurable as full widht block element"
Button configurable as full widht block element

[2022-10-04 15:39] markus-walther opened #2356 "Fix issues uncovered by dependabot"
Dependabot uncovered a few issues in our dependencies.

Please fix them.

[2022-10-07 15:52] MKaHead commented on #2288
I fix the whole thing with a rewrite of the text component. Furthermore, the text component does not comply with the current styleguide.

[2022-10-07 15:55] MKaHead commented on #2356
@markus-walther These are all dev dependencies and not relevant.

[2022-10-11 07:56] MKaHead opened #2358 "Uniform heading cp api"
Changes:
- Breaking Change: `rank` to `size`
- feat: Add Custom CSS property `--heading-margin`
- fix: Add missing type `secondary`

[2022-10-11 07:57] MKaHead opened #2359 "text cp rewrite"
Changes:
- Remove variant `semibold`, because this option is not available in the styleguide
- Remove variant `bold` use new boolean flag `bold`, because bold for all text sizes possible
- Change attribute `variant` to `size`
- When tags are placed inside slot(children). You should use the attribute `tagless` so that the wrapping paragraph is not rendered.
- Now the text host element has margin bo

[2022-10-20 17:29] ErikJermanis opened #2361 "Year dropdown in Datepicker is not sorted correctly"
## Expected Behavior
Options in year dropdown should be sorted in ascending or descending order consistently

## Current Behavior
When I open Datepicker for the first time, options in year dropdown are sorted in ascending order. However, when I close the Datepicker, and open it for the second time, options in year dropdown are sorted in descending order.

## Steps to Reproduce
1. Create a Datepick

[2022-10-24 07:18] MKaHead commented on #2361
Hi @ErikJermanis, thanks for the issue, we will have a look soon.

[2022-10-24 10:40] MKaHead commented on #2361
Hello @ErikJermanis, I can't reproduce the issue even with the version.
[See here Stackblitz](https://stackblitz.com/edit/vitejs-vite-ksrvwl?file=src/App.jsx)

Maybe I can help you bilaterally, you can reach me typical axa channels Slack, Teams and mail (marco.kruse@axa.ch).

[2022-10-27 09:39] MarekLacoAXA commented on #2277
Is this a problem or is this okay?

[2022-11-03 09:19] salle18 opened #2363 "Dropdown shows extra defaultTitle on mobile"
@axa-ch/dropdown v12.0.1

Dropdown options on mobile screen always add default title.
This issue is reproducible in the storybook.

Desktop/wide screen
<img width="1192" alt="Screen Shot 2022-11-03 at 10 06 28" src="https://user-images.githubusercontent.com/8245106/199683016-fbe5e47d-84cc-4d45-b1b0-ba598f3a5f44.png">

Mobile/narrow screen
<img width="421" alt="Screen Shot 2022-11-03 at 10 06 45" s

[2022-11-03 09:40] AarKro opened #2364 "Introduce prop for changing autocomplete attribute"
Some of our users have trouble using the browsers form autocomplete features, so we want to be able to set the `autocomplete` attribute on inputs to make sure this works smoothly.

Currently this seems to be set to `off` by default, with no way for us to change it.

Maybe a possible solution would be to introduce a prop to pass the autocomplete value into a component, while having it default to `o

[2022-11-04 10:02] #2288 closed, assigned to MKaHead, markus-walther

[2022-11-06 11:41] MKaHead commented on #2363
Hi @salle18,
We'll take a look at it right away. At first glance, I noticed something about the native select end that made me wonder.

[2022-11-06 11:45] MKaHead commented on #2364
Thank you for the suggestion @AarKro. It is legitimate to have an attribute to activate it. A solution for the inputs will come soon.

[2022-11-07 10:42] #2358 closed, assigned to MKaHead

[2022-11-07 10:42] #2359 closed, assigned to MKaHead

[2022-11-07 10:42] #2354 closed, assigned to MKaHead

[2022-11-10 09:12] corsin-ragettli opened #2369 "Improve Typing of FileUpload in React"
Currently, the `onChange` event of the FileUpload has the typing `(files: Blob[]) => void`. this is very confusing for new developers since they have no idea that actually, the onChange event provides further attributes:
[code]

So my proposal is to change the typing of `onChange` to `(files: File[]) => void`

[2022-11-10 09:30] corsin-ragettli opened #2370 "Adjust behaviour of invalid FileUploads"
We currently have a way to check if the FileUpload reports any files that are invalid with `<FileUpload invalid={foo}/>`.  But this is pretty clunky for react developers because we can't put the invalid boolean in a state (since we can't set the state in any way when the invalid prop changes). So we have to use `useRef()` which works until we have a parent which needs this information, then again,

[2022-11-10 16:07] corsin-ragettli opened #2372 "FileUpload doesn't open Filechooser when I click it the first time"
Please only report technical bugs. Clarify design issues in the slack channel #ux-ui-support.

When I click the FileUpload on the first time it doesn't open the Filechooser; I have to click it two times.

## Expected Behavior
Open the Filechooser on the first click

## Current Behavior
It doesn't open the Filechooser on the first click.

## Steps to Reproduce
1. Use Version 8.0.1 of File-Upload
2.

[2022-11-11 14:22] MarekLacoAXA opened #2373 "Input-Text React-18 can't edit text, cursor jumps to end"
## Expected Behavior
- type in text, move cursor back, can edit text in the middle or on the start
- https://axa-ch-webhub-cloud.github.io/plib-feature/develop/?path=/story/examples-input-text-react--input-text

## Current Behavior
- when under React-18, cursor jumps to end of text after the keypress
- probably because of a blur/focus cycle
- all versions of axa-input-text are affected
- only Reac

[2022-11-12 10:01] MKaHead commented on #2373
@MarekLacoAXA I have looked at it and already have a fix. But we should keep an eye on the input text afterwards to see if the fix has side effects or if there are other problems.

[2022-11-12 10:35] MKaHead commented on #2370
We will provide the callback prop onInvalid with the parameter boolean invalid and if we have an errorMessage we will provide it as the second parameter. The callback will be triggered whenever the invalid status changes.

[2022-11-12 10:36] MKaHead commented on #2369
I have also now found out that the type is based on file and is enriched with id and optionally errorMessage.

[2022-11-13 13:09] MKaHead commented on #2372
Unfortunately I cannot reproduce the error see [here ](https://stackblitz.com/edit/vitejs-vite-yrzdwe?file=src/main.jsx) even with version 8.0.1. What does your config of file upload look like?

[2022-11-13 18:21] MKaHead opened #2378 "branch deployment script move plib-feature/develop assets"
With branch deployment, the assets of the develop branch are moved to a newly generated feature branch instead of copying them from another source.

[2022-11-13 21:02] MKaHead commented on #2363
@salle18
I'm still waiting for design feedback here, whether I should fix it uniformly, or in my personal opinion, that we should remove the defaultTitle. As it only confuses from enduser UX, it just disappears item. If you really want to have it, you can also implement it yourself via the items.

The reason why this was built in seems to be legacy, see readme:
"Its intended use is primarily for n

[2022-11-15 16:25] #2370 closed, assigned to MKaHead

[2022-11-15 16:25] #2369 closed, assigned to MKaHead

[2022-11-15 16:25] #2364 closed, assigned to MKaHead

[2022-11-15 16:39] MKaHead commented on #2363
@salle18 I have now received feedback from designers/UX and they have told me that we are taking out the defaultTitle feature, which will be a breaking change, so there will be a new major version. We recommend to pre-select default item or create an item for example "Please choose".

I hope this is not too disappointing. Thanks for reporting!

[2022-11-16 07:44] corsin-ragettli commented on #2370
Currently my IDE says that the `onValidityChange()` is required, probably should be optional imo.

[2022-11-16 07:54] corsin-ragettli commented on #2372
I wrapped it in a react-component to abstract some common code into a single place. Maybe this is the reason why the file-upload doesn't get "focused" correctly. Currently version `8.1.0` doesn't work for me...
Code:
[code]
When not using the wrapped component it works fine for me aswell, so it must be something in the wrapped component, but I can't imagine what since I don't manipulate the FileUp

[2022-11-16 13:35] MarekLacoAXA opened #2381 "input-text react TS type for onChange now too restrictive"
`onChange` prop type can be improved to better describe `event` argument.

[code]

Problem: `event: InputEvent` is after recent change too restrictive: it's `target` is nullable and doesn't contain `value` attribute.

https://github.com/axa-ch-webhub-cloud/pattern-library/commit/942543d7a50862f55cfe243e05a50ad48e9841c5#diff-5fa5795977e2a41f9937c26c73663c24ae4770a2a4ecaab42e1835c87dfb6a48R29

[2022-11-16 14:21] MarekLacoAXA commented on #2373
Still reproducible when "typing quicky": can by simulated by pressing several (two/three) keys at once repeatedly on the begin of text. Cursor jumps to end. (browser-dependent, doesn't occur in Safari/MacOs, does on Chrome/Win).

[2022-11-17 10:49] MKaHead commented on #2381
Hi @MarekLacoAXA
The best would if be provide a better type similar to React SyntheticEvent with it's generic.

For now you could cast the target to `HTMLInputElement`, or do like preact they have same Problem, [see here](https://preactjs.com/guide/v10/typescript#typing-events).

[2022-11-17 11:00] MKaHead commented on #2381
@MarekLacoAXA Would that work for you, for the Start?
``
export interface AXAChangeEvent<T = HTMLElement> extends InputEvent {
  target: EventTarget & T;
}``

[2022-11-17 13:22] domirs opened #2383 "Property name is missing in AXADatepickerProps"
Hi, when using react with typescript there is a type issue when defining the name property of the datepicker.

## Expected Behavior
`name` property can be used with react + typescript

## Current Behavior
Currently there is a type issue when using the name property of the datepicker component:
[code]

## Steps to Reproduce
1. create typescript react project
2. insert datepicker with property input

[2022-11-17 16:04] MKaHead commented on #2381
You can import now `AXAInputTextChangeEvent` in newest release input-text@6.3.1

[2022-11-18 07:26] MarekLacoAXA commented on #2373
Just to mention: PRIOR fixing this issue (with the cursor jumping to the end in React-18):
In the following browsers the text field was not unusable at all. The whole content was "randomly jumping" with each keypress:
Apple: Safari/MacOs, Chrome+Safari/iOS+iPadOS.

[2022-11-18 11:50] #2383 closed, assigned to nobody

[2022-11-18 11:50] #2381 closed, assigned to MKaHead

[2022-11-18 12:35] MarekLacoAXA commented on #2381
Thanks Marco for providing solution so quickly! Works great!

[2022-11-22 09:02] #2378 closed, assigned to MKaHead

[2022-11-24 09:30] corsin-ragettli opened #2386 "Better typing for error messages (FileUpload)"
Currently for react users, managing errors on the FileUpload is made with `document.querySelector()`. However, this isn't really the most react-friendly way, so I would propose some new changes which make things easier for react devs

### Per file error message
My suggestion would be to add a prop to tell the FileUpload which files are invalid, the typing could - for example - be:
`invalidFiles?:

[2022-11-28 09:42] Eric-Gahlinger opened #2387 "Datepicker Version 17.1.3 doesn't display month- and year-dropdowns"
Please only report technical bugs. Clarify design issues in the slack channel #ux-ui-support.

The DatePicker Component doesn' t work properly on version 17.1.3. The month- and year-dropdown isn't displaying

## Expected Behavior
The component should work like in the docs

## Current Behavior
On version 17.1.3 the year and month dropdowns are not displayed. On version 17.1.2 it works fine.

## Ste

[2022-11-28 14:41] #2387 closed, assigned to nobody

[2022-11-30 12:10] veljko3ap opened #2389 "Latest version of react datepicker doesn't show month and year dropdown"
Starting from the latest version of Datepicker dropdowns for months and years are not displayed anymore in our latest eSalesP web app for vehicle insurance.

## Expected Behavior
Dropdowns for months and years should be displayed in datepicker.

## Current Behavior
At the moment users are not able to select desired month and/or year in datepicker.

## Steps to Reproduce
1. visit either prod versio

[2022-11-30 12:50] MKaHead commented on #2389
Thank you @veljko3ap. We will check it.